<form class='card' [formGroup]='newProductForm' class='formPadding'>
  <div class="row">
    <div class=" col-sm-6">
      <div formGroupName='newProductGroup'>
        <div class="form-group">
          <label for="title">Title</label>
          <input formControlName='title' type="text" class="form-control" id="title" aria-describedby="emailHelp"
            placeholder="Enter title">
          <!-- if touched and invalid -->
          <div *ngIf='_title.touched && _title.invalid' class="alert alert-danger" role="alert">
            <!-- show the validation errors set on the control -->
            <div *ngIf='_title.errors.required'>
              Please enter a title
            </div>
            <div *ngIf='_title.errors.maxlength'>
              Exceeded the max length for the title(15)
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input formControlName='price' type="number" class="form-control" id="price" placeholder="Price">
          <!-- if touched and invalid -->
          <div *ngIf='_price.touched && _price.invalid' class="alert alert-danger" role="alert">
            <!-- show the validation errors set on the control -->
            <div *ngIf='_price.errors.required'>
              Please enter a price for this product
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="imageurl">Select Category</label>
          <ng-select formControlName="category" [allowClear]="true" [options]="categories">
          </ng-select>
          <!-- if touched and invalid -->
          <div *ngIf='_category.touched && _category.invalid' class="alert alert-danger" role="alert">
            <!-- show the validation errors set on the control -->
            <div *ngIf='_category.errors.required'>
              Please select a product category.
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input formControlName='imageUrl' type="text" class="form-control" id="imageurl" placeholder="Image URL">
          <!-- if touched and invalid -->
          <div *ngIf='_imageUrl.touched && _imageUrl.invalid' class="alert alert-danger" role="alert">
            <!-- show the validation errors set on the control -->
            <div *ngIf='_imageUrl.errors.required'>
              Please enter a valid image url.
            </div>
          </div>
        </div>


        <div>
          <button type="button" class="btn btn-success btn-spacing" [disabled]='IsValid()' (click)='Save(newProductForm.get("newProductGroup").value)'>Save</button>

          <button type="button" class="btn btn-danger btn-spacing" (click)='Delete()'>Delete</button>

          <button type="button" class="btn btn-secondary" (click)='Cancelled()'>Cancel</button>

        </div>
      </div>
    </div>

    <div class=" col-sm-6">
      <div class="card" style="width: 20rem; height: 20rem;">
        <img class="card-img-top" [src]='_imageUrl.value'>
        <div class="card-body">
          <h2 class="card-title">{{_title.value}}</h2>
          <p class="card-text">{{_price.value}}</p>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- https://drive.google.com/thumbnail?id=1xEC5mD-otxwr39ft9CuZPwASUcx4vS_O -->
