<nav class="navbar navbar-expand-lg navbar-ligh fixed-top bg-light">
  <a [routerLink]="['/shopping-cart']" routerLinkActive="active"  class="navbar-brand" >Shopping Cart</a>
  <span class="badge badge-warning" style="margin-right: 15px;">{{totalItemInCart}}</span>
<br>
<br>
  <div class="btn-group" dropdown>
    <div *ngIf='!(authService.user$ | async )'>
            <a class="btn btn-primary " [routerLink]="['/login']" >Log In</a><span class="caret"></span>
    </div>

    <div *ngIf='authService.user$ | async as user'>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
            {{ user.displayName }} <span class="caret"></span>
    </button>

    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a [routerLink]="['/my-orders']" routerLinkActive="router-link-active"  class="dropdown-item" >My Orders</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/admin/orders']" *ngIf='this.getRole'>Manage Orders</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/admin/products']" *ngIf='this.getRole' >Manage Products</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/login']" (click)='logOut()'>Log Out</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

