
<ng-container *ngIf='(isLoading$ | async)'>
    <app-spinner [isLoading]='isLoading$'></app-spinner>
  </ng-container>

  <div class='row'>

    <div class='col-sm-2'>
      <div class='sticky-top'>
        <nav class="nav flex-column nav-pills">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link nav-item" [routerLink]="['/']" routerLinkActive='active'>All Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-item" [routerLink]="['/']" [queryParams]="{category: 'fruits'}"
                routerLinkActive='active'>Fruits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-item" [routerLink]="['/']" [queryParams]="{category: 'bread'}"
                routerLinkActive='active'>Bread</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-item" [routerLink]="['/']" [queryParams]="{category: 'seasonings'}"
                routerLinkActive='active'>Seasonmings and Spices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-item" [routerLink]="['/']" [queryParams]="{category: 'vegetables'}"
                routerLinkActive='active'>Vegetables</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <ng-container *ngIf='!(isLoading$ | async)'>
      <div class='col-sm-10' *ngIf='filteredProducts && filteredProducts.length > 0'>
        {{filteredProducts.length | json}}
        <div class='row'>
          <ng-container *ngFor='let p of filteredProducts'>
            <app-bootstrap-card [data]='p' [showButton]='true'></app-bootstrap-card>
          </ng-container>
        </div>
      </div>
      <ng-container>
